.item__list {
    justify-content: start;
    align-items: center;
  }

  .item__first {
    margin: 11px;
}
.item__first_left_image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
