* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/logo Title */
  header {
    padding: 20px;
    text-align: center;
    background: #55ACEE;
    color: black;
    display: flex;
  }
  header div {
      align-items: center;
      justify-content: flex-end;
  }
  .header__logo {
    font-size: 30px !important;
    color: #FFD300;
  }
  .header__rightdo {
    color: #fff;
  }
  .header__rightdo div {
    padding: 3px 15px;
    cursor: pointer;
  }
header div i.fa-search, header div i.fa-shopping-cart {
    font-size: 25px !important;
    color: #fff;
}
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    margin-bottom: 20px;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: grey;
    padding: 5px 15px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
  }
  .navbar a:first-child {
    color: #000;
    padding: 5px 15px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
  
  /* Change color on hover */
  .navbar a:hover:not(:first-child) {
    font-weight: bold;
    color: #55ACEE;
  }

  .navbar a.active:not(:first-child) {
    border-bottom: 2px solid #55ACEE;
    font-weight: bold;
    color: #55ACEE;
  }
  .item__first {

  }
  .item__list {
      display: flex;
      flex-wrap: wrap;
  }
  .item__price {
      color: #000;
      font-weight: bold;
      font-size: 16px;
  }
  .item__act {
      text-decoration: line-through;
      font-size: 13px;
      color: #aaa;
      font-weight: bold;
  }
  .item__discnt {
    font-size: 14px;
    color: green;
    font-weight: bold;
  }
  .item__img {
      height: auto;
      width: 120px;
  }
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
    border-right: 1px solid #aaa;
  }

  .apply__btn {
    background-color: #55ACEE; /* Green */
    border: none;
    color: white;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    left: 3.8rem;
  }
  
  /* Main column */
  .main {
    flex: 80%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  figcaption {
      margin-bottom: 5px;
  }

  .add__cart {
      background: #FFD300;
      color: #000;
      border: none;
      padding: 7px 18px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 15px;
      margin-top: 10px;
  }
  
  /* Footer */
  footer {
    padding: 10px;
    text-align: center;
    background: #55ACEE;
    color: #fff;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
    .side h2 {
      display: inline-block;
      margin-right : 20px;
      vertical-align: middle;
    }
  }